<% include ../static/header %>

<h1>Welcome <%- currentUser.name%></h1>

<div class="container">

  <div class="panel panel-primary">
    <div class="panel-heading">All Rooms for Reservations</div>
    <table class="table">
      <tr>
        <th>Bedrooms</th>
        <th>Price/day</th>
        <th>From</th>
        <th>To</th>
        <th>Availability</th>
        <th></th>
        <th></th>
      </tr>
      <% allRooms.forEach(function (rooms) { %>
        <tr>
        <td><%- rooms.beds %></td>
        <td><%- rooms.price %></td>
        <td><%- rooms.dateFrom %></td>
        <td><%- rooms.dateTo %></td>
        <td><% if(rooms.status === true){ %>
          <h5><span class="label label-success">Available</span></h5>
        <% } else{ %>
          <h5><span class="label label-danger">Unavailable</span></h5>
        <% } %>
        </td>
        <td>
        <form action=<%= "/rooms/admin/" + rooms.id + "/edit" %>  method="GET">
        <button type="submit" class="btn btn-primary"><span class = "glyphicon glyphicon-edit"></span> Update</button>
        </form>
        </td>
        <td>
        <form method="POST" action="/rooms/admin/<%=rooms.id%>?_method=DELETE">
        <button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Remove</button>
        </form>
        </td>
        </tr>
        <% }) %>
    </table>
  </div>


  <form action="/rooms/admin/new" method="GET">
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add new rooms</button>
  </form>
</div>
