<% include ../static/header %>

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">Current Room Selection</div>
  <table class="table">
    <tr>
      <th>Bedrooms</th>
      <th>Price/day</th>
      <th>From</th>
      <th>To</th>
      <th></th>
      <th></th>
    </tr>
      <tr>
      <td><%- toUpdateRoom.beds %></td>
      <td><%- toUpdateRoom.price %></td>
      <td><%- toUpdateRoom.dateFrom %></td>
      <td><%- toUpdateRoom.dateTo %></td>
      </tr>
  </table>
</div>

<h3><span class="label label-default">Update To:</span></h3>
</br>

  <form action=<%= "/rooms/admin/" + toUpdateRoom.id + "?_method=PUT" %> method="POST">
    <div class="form-group">
      <label for="price">Price</label>
      <input type="price" class="form-control" id="priceInput" name="price">
    </div>
    <div class="form-group">
      <label for="dateFrom">Available From Date</label>
      <input type="date" class="form-control" id="fromInput" placeholder="mm/dd/yyyy" name="dateFrom">
    </div>
    <div class="form-group">
      <label for="dateTo">Available To Date</label>
      <input type="date" class="form-control" id="toInput" placeholder="mm/dd/yyyy" name="dateTo">
    </div>
    <button type="submit" class="btn btn-primary"><span class = "glyphicon glyphicon-edit"></span>Update Room Details</button>
  </form>

  <nav aria-label="...">
  <ul class="pager">
    <li><a href="/rooms/admin">Back to Rooms Listing</a></li>
  </ul>
</nav>

</div>
