<% include ../static/header %>

<h2>Welcome <%- user.name%></h2>


<div class="container">

  <div class="panel panel-primary">
    <div class="panel-heading">Current Reservations</div>
    <table class="table">
      <tr>
        <th>Bedrooms</th>
        <th>Price/day</th>
        <th>From</th>
        <th>To</th>
        <th></th>
        <th></th>
      </tr>
      <% user.reservations_id.forEach(function (rooms) { %>
        <tr>
        <td><%- rooms.beds %></td>
        <td><%- rooms.price %></td>
        <td><%- rooms.dateFrom %></td>
        <td><%- rooms.dateTo %></td>
        <td>
        <form method="POST" action="/rooms/<%=rooms.id%>?_method=DELETE">
        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
        </form>
        <% }) %>
    </table>
  </div>


  <form action="/rooms/search" method="GET">
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Make new reservations</button>
  </form>
</div>
