<% include ../static/header %>

<h1>Welcome <%- userProfile.name%></h1>


<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">Current Reservations</div>
    <table class="table">
      <tr>
        <th>Bedrooms</th>
        <th>Price/day</th>
        <th>From</th>
        <th>To</th>
        <th></th>
        <th></th>
      </tr>
      <% userProfile.reservations_id.forEach(function (rooms) { %>
        <tr>
        <td><%- rooms.beds %></td>
        <td><%- rooms.price %></td>
        <td><%- rooms.dateFrom %></td>
        <td><%- rooms.dateTo %></td>
        <td>
        <form method="POST" action="/rooms/<%=rooms.id%>?_method=DELETE">
        <button type="submit"><span class="glyphicon glyphicon-remove"></span>Remove</button>
        </form>
        </td>
        <td>
        <form action=<%= "/rooms/" + rooms.id + "?_method=PUT" %>  method="POST">
        <button type="submit">Update</button>
        </form>
        </td>
        </tr>
        <% }) %>
    </table>
  </div>


  <form action="/rooms">  method="GET">
    <button type="submit">Make new reservations</button>
  </form>
</div>
