<% include ../static/header %>

<div class="container">

  <div class="panel panel-primary">
    <div class="panel-heading">Possible Reservations</div>
    <table class="table">
      <tr>
        <th>Bedrooms</th>
        <th>Price/day</th>
        <th>From</th>
        <th>To</th>
        <th></th>
        <th></th>
      </tr>
      <% allAvailableRooms.forEach(function (rooms) { %>
        <tr>
        <td><%- rooms.beds %></td>
        <td><%- rooms.price %></td>
        <td><%- dateSearchFrom %></td>
        <td><%- dateSearchTo %></td>
        <form action="/rooms/<%=rooms._id%>"  method="POST">
        <td>
        <input type='hidden' name='startDate' value='<%= dateSearchFrom %>' >
        <input type='hidden' name='endDate' value='<%= dateSearchTo %>' >
        <input type='hidden' name='originalStart' value='<%= rooms.dateFrom%>' >
        <input type='hidden' name='originalEnd' value='<%= rooms.dateTo%>' >
        <input type='hidden' name='beds' value='<%= rooms.beds%>' >
        <input type='hidden' name='price' value='<%= rooms.price%>' >
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Reserve Now</button>
        </td>
        </tr>
        </form>
        <% }) %>
    </table>
  </div>


  <form action="/rooms/search" method="GET">
    <button type="submit" class="btn btn-primary">Make new search</button>
  </form>
  <nav aria-label="...">
  <ul class="pager">
    <li><a href="/rooms/">Back to Reservations</a></li>
  </ul>
</nav>


</div>
